<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LHS COMPANIES</title>
</head>
<body>

<div class="container">

<h1 class="text-center">LHS Companies</h1>
<br/><br/>

<a href="/menu" class="btn-link">Menu</a>
<br/>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <table class="table" width="40%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l: ${lhs}">
            <td th:text="${l.name}"></td>
            <td th:text="${l.address}"></td>
            <td>
                <form th:action="@{/deleteLhs}" method="post">
                    <input type="hidden" name="id" th:value="${l.id}"/>
                    <input class="btn" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="clearfix visible-lg-block"></div>

<br/>
<h4 class="text-center">Add new LHS Company</h4>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form th:action="@{/saveLhs}" method="post">
        <table class="table" width="40%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label>
                        <input type="text" name="name" required="required"/>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" name="address" required="required"/>
                    </label>
                </td>
                <td>
                    <input class="btn" type="submit" value="Save"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="clearfix visible-lg-block"></div>

</div>

<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

</body>
</html>