<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>NETWORK ADDRESSES</title>
</head>
<body>

<div class="container">

    <h1 class="text-center">Network addresses</h1>
    <br/><br/>

    <a href="/menu" class="btn-link">Menu</a>
    <br/>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table" width="40%">
            <thead>
            <tr>
                <th>Host</th>
                <th>Port</th>
                <th>Company</th>
                <th>Preffix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="addr: ${netAddrs}">
                <td th:text="${addr.host}"></td>
                <td th:text="${addr.port}"></td>
                <td th:text="${addr.lhsCompany.name}"></td>
                <td th:text="${addr.preffix}"></td>
                <td>
                    <form th:action="@{/deleteNetworkAddress}" method="post">
                        <input type="hidden" name="id" th:value="${addr.id}"/>
                        <input class="btn" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix visible-lg-block"></div>

    <br/>
    <h4 class="text-center">Add new network address for LHS company</h4>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form th:action="@{/saveNetworkAddress}" method="post">
            <table class="table" width="40%">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>Port</th>
                    <th>Company</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="text" name="host" required="required"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" name="port" required="required"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <select name="lhsCompany" required="required">
                                <option th:each="l : ${lhs}" th:value="${l.id}" th:text="${l.name}"></option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <input class="btn" type="submit" value="Save"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="clearfix visible-lg-block"></div>

</div>

<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

</body>
</html>